<div class="container-fluid pt-4" style="margin-top: 2rem;" >


    <!-- <div class="row" style="display: flex;align-items: center;justify-content: center;">
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Create New URL</h5>
                  <p class="card-text">Lets Get to Work !!</p>
                  <a routerLink="/addUrl" class="btn btn-primary" data-mdb-ripple-init>Start</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Check URL History</h5>
                    <p class="card-text">Checkout the URL(s) you have Created  </p>                  
                  <a routerLink="/history" class="btn btn-primary" data-mdb-ripple-init>Go to History</a>
                </div>
              </div>
            </div>
      </div> -->

       <!-- Background image -->
    
      <!-- Background image -->


      <div class="text-white" data-mdb-theme="dark">
          <h1 class="mb-3">Track your Internet Reach</h1>
          <h5 class="mb-4">Its Easy , Lets Get Started</h5>
          <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init routerLink="/addUrl" role="button"
             rel="nofollow" >Create New URL</a>
          <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init routerLink="/history"
             role="button">Checkout the URL(s) you have Created</a>
        </div>





 

</div>

